/* @import "../omarchy/current/theme/waybar.css"; */
@import "style-brunoanesio.css";

* {
  border-radius: 0;
  /* min-height: 0; */
  font-size: 12px;
  /* font-weight: 300; */ 
}

#battery {
    color: #74c7ec;
    padding: 3px;
}

#battery.charging {
    color: orange;
}

#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    color: @foreground;
}

#workspaces button.focused, #workspaces button.active {
    text-decoration: underline;
    box-shadow: inset 0 -3px #ffffff;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
